# General
.DS_Store
.env
.env.local
.env.development.local
.env.production.local

# Backend
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.production.local
backend/*.pyc
backend/venv
backend/.venv
backend/api/__pycache__
backend/object_detection/__pycache__
backend/object_detection/utils/__pycache__

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/assets

# Environment variables
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# Virtual environments
backend/.venv

# Node
frontend/node_modules
# frontend/pnpm-lock.yaml

# Next.js
frontend/next-env.d.ts
frontend/.next

# Clerk
frontend/.clerk